body {
  background: #020617;
  color: white;
  font-family: Arial;
}

.container {
  width: 95%;
  margin: auto;
}

h1 {
  text-align: center;
  color: #38bdf8;
}

.top-bar {
  text-align: center;
  margin: 20px;
}

input {
  padding: 10px;
  width: 300px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
}

.panel {
  background: #0f172a;
  padding: 15px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #1e293b;
}

td, th {
  padding: 10px;
  text-align: center;
}

.disponible {
  color: #22c55e;
}

.servicio {
  color: #eab308;
}

.indisponible {
  color: #ef4444;
}
