input, select {
  background-color: #1e293b !important;
  color: white !important;
  border: none !important;
}

textarea {
  background-color: #1e293b !important;
  color: white !important;
  border: none !important;
  resize: vertical;
}

td {
  vertical-align: middle;
}

/* AVISO MÁS GRANDE */
.aviso {
  min-width: 200px;
}

/* NOTAS MÁS GRANDE */
.notas {
  min-width: 250px;
}
